// Colors
$pink: #e7c8e7;
$blue: #abc9e8;
$grey1: #cacaca;
$grey2: #999999;
$grey3: #666666;
$purple: #cdcdec;

// Fonts
$font1: 'Helvetica', Arial, sans-serif;
$font2: 'Bungee Shade', cursive;
$font3: 'Bungee Inline', cursive;